@import "tailwindcss";

:root {
  --color-bg-base: #050a12;
  --color-bg-card: #0d1526;
  --color-primary: #2563eb;
  --color-accent-gold: #c5a059;
  --color-border: rgba(255, 255, 255, 0.1);
  --text-light: #f6ffff;
  --placeholder: #647795;
  --background: var(--color-bg-base);
  --foreground: var(--text-light);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
