@import "tailwindcss";

:root {
  --bg-midnight: #112540;
  --panel-dark: #1d3960;
  --border-muted: #4f5f76;
  --brand-gold: #d4af37;
  --button-primary: #3469fe;
  --text-light: #f6ffff;
  --placeholder: #647795;
  --background: var(--bg-midnight);
  --foreground: var(--text-light);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
